{% extends '_base.html' %}
{% block content %}

<section class="content-section landing-section">
  <div class="row align-center">
    <div class="large-10 column">
      <h1>Welcome to this Portal</h1>
      <p class="landing-section__highlight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe magnam nostrum laboriosam corrupti ipsa.</p>
    </div>
  </div>
  <div class="row align-center">
    <div class="large-10 column">
      <form action="#" class="main-search main-search--alt">
        <input type="text" placeholder="Search for your City"><input type="submit" value="search">
      </form>
    </div>
  </div>
  <div class="row align-center">
    <div class="large-5 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore porro odio doloremque totam, architecto delectus voluptatum iusto laudantium ipsa, suscipit saepe vero exercitationem velit, libero nesciunt id alias!</p>
    </div>
    <div class="large-5 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore porro odio doloremque totam, architecto delectus voluptatum iusto laudantium ipsa, suscipit saepe vero exercitationem velit, libero nesciunt id quaerat!</p>
    </div>
  </div>
</section>

<section class="content-section content-section--gray-bg">
  <div class="row align-center">
    <div class="large-8 column">
      <h2 class="content-section__section-title">Le Système d’Évaluation</h2>
      <p class="content-section__intro">Le nouveau système de l’évaluation de la performance a pour objectif de doter les communes d’une plus grande autonomie nécessaire pour l'exécution de leurs mandats et pour la fourniture de services locaux, suivant les principes de la transparence, de la participation et de la redevabilité envers les citoyens.</p>
    </div>
  </div>
  <div class="row expanded cmo-graph">
    <div class="large-2 column large-offset-1 cmo-graph__item tooltip-wrapper">
      <div class="cmo-graph__image-wrapper"><img src="./images/money.png" alt=""></div>
      <div class="tooltip">
        <h3>Budget Approval</h3>
        <p>Approbation du budget provisionnel par le conseil de la collectivité en temps voulu</p>
      </div>
    </div>
    <div class="large-2 column cmo-graph__item tooltip-wrapper">
      <div class="cmo-graph__image-wrapper"><img src="./images/house.png" alt=""></div>
      <div class="tooltip">
        <h3>Financial Authorization</h3>
        <p>Transmission des états financiers de l’année précédente à l’autorité responsable</p>
      </div>
    </div>
    <div class="large-2 column cmo-graph__item tooltip-wrapper">
      <div class="cmo-graph__image-wrapper"><img src="./images/approval.png" alt=""></div>
      <div class="tooltip">
        <h3>Annual Budget Approval</h3>
        <p>Approbation du Programme Annuel d’Investissement, selon l’approche participative, par le conseil de la collectivité</p>
      </div>
    </div>
    <div class="large-2 column cmo-graph__item tooltip-wrapper">
      <div class="cmo-graph__image-wrapper"><img src="./images/evaluation.png" alt=""></div>
      <div class="tooltip">
        <h3>Publication</h3>
        <p>Publication du Plan Prévisionnel de Passation des Marchés Publics sur le site National de Marchés Publics</p>
      </div>
    </div>
    <div class="large-2 column cmo-graph__item tooltip-wrapper">
      <div class="cmo-graph__image-wrapper"><img src="./images/contract.png" alt=""></div>
      <div class="tooltip">
        <h3>Final Approval</h3>
        <p>Approbation de la convention de responsabilité entre la collectivité et l’état liées aux bénéfices des subventions</p>
      </div>
    </div>
  </div>
</section>

<section class="content-section">
  <div class="row align-center">
    <div class="large-8 column">
      <h2 class="content-section__section-title">Le Système d’Évaluation</h2>
      <p class="content-section__intro">Le nouveau système de l’évaluation de la performance a pour objectif de doter les communes d’une plus grande autonomie nécessaire pour l'exécution de leurs mandats et pour la fourniture de services locaux, suivant les principes de la transparence, de la participation et de la redevabilité envers les citoyens.</p>
    </div>
  </div>
</section>
{% endblock %}