.city-header {
  background-color: $main-color;
  color: white;
  padding-top: 30px;
  vertical-align: bottom;

  h1, h2, h3, h4 { margin: 0; }

  h3, h4 { text-align: right; }

  h3 { margin-top: 16px; }

  h1, h2, h3 { font-weight: 400; }

  h4 {
    font-weight: 500;
    color: rgba(white, .6);
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    font-size: .8;
  }

  &__name h4 {
    text-align: left;
  }

  &__subtitle {
    margin-top: 25px;
    padding: 8px 0;
    background-color: rgba(black, .2);
    text-align: center;
    h2 { 
      font-weight: 400;
    }
  }
}

.city-page {
  &__heading {
    padding: 20px 0;
    h2, h3 {
      text-align: center;
      margin: 0;
      line-height: 1.4;
    }

    h2 {
      font-weight: 400;
      color: $main-color;
      margin-bottom: 10px;
    }

    h3 {
      font-weight: 400;
      color: rgba(black, .4);
    }
  }
}