a {
  color: currentColor;
  text-decoration: none;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: .3px;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}


