.landing-section {
  h1 {
    color: $main-color;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    margin: 0;
  }

  &__highlight {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 100;
    color: rgba(black, .6);
  }
}

.main-search {
  display: flex;
  margin: 30px 0 60px;

  input {
    padding: 15px; 
    vertical-align: top;
    font-size: 1.5rem;
    line-height: 1;
    background-color: rgba(black, .1);
    color: rgba(black, .5);
    border: 0;
    outline: 0;

    &:focus {
      outline: 1px solid $main-color;
    }
  }

  input[type='text'] {
    flex: 1;
    padding: 15px 20px;
  }

  input[type='submit'] {
    @extend .u-material-icons;
    webkit-appearance: none;
    font-size: 2rem;

    &:hover {
      background-color: $main-color;
      color: white;
    }
  }
}

.main-search--ranking {
  margin: 20px 0 80px;
  position: relative;

  input { 
    padding: 8px 15px !important; 
    font-size: 1.3rem;
  }
  
  &:after {
    @extend .u-material-icons;
    content: 'search';
    color: rgba(black, .2);
    position: absolute;
    right: 0;
    padding: 7px 10px;
  }

  &:hover:after {
    color: rgba(black, .6);
  }

}