.ranking-page {
  
}

.ranking {
  width: 100%;

  tr:nth-child(even) {
    background-color: rgba(black, .03);
  }

  th {
    font-weight: 500;
    text-transform: uppercase;
    background-color: $main-color;
    color: white;
  }

  th { padding: 10px; }
  td { padding: 10px 30px 10px 10px; }

  .ranking__city {
    text-align: left;
  }
  .ranking__position {
    text-align: right;
  }
  .ranking__cmo {
    text-align: center;

    .cmo-true:before {
      content: 'check';
      color: $green;
    }

    .cmo-false:before {
      content: 'close';
      color: $red;
    }
  }

  .ranking__governance,
  .ranking__gestion,
  .ranking__perenity,
  .ranking__score { text-align: center; }

  th.ranking__governance,
  th.ranking__gestion,
  th.ranking__perenity,
  th.ranking__score { color: white; }


  .ranking__governance {
    
  }
  .ranking__gestion {

  }
  .ranking__perenity {

  }
  .ranking__score {
    text-align: right;
    color: rgba(black, .8);
  }

  td.ranking__score { padding-right: 50px;}

  .sort {
    @extend .u-material-icons;
    opacity: .4;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    &:hover { opacity: 1; }

    &.down:before { content: 'keyboard_arrow_down'; }
    &.up:before { content: 'keyboard_arrow_up'; }
    &.active { opacity: 1; }
  }
}
